

*, ::before, ::after {
    box-sizing : border-box;
    margin:0px;
    padding:0px;
}



#navbar {
    overflow: hidden;
    background-color:rgb(77, 77, 167);
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.baseline {
    color:black;
    font-family : "Roboto", sans-serif;
    text-transform: uppercase;
    text-align:center;
    font-size: 1.4rem; 
}
body {
    background-color: aliceblue;
    font-family:"Roboto", sans-serif;
    line-height: 1.625;
    color: black
}

.btn-block {
    margin: 20px 0px;
    background-color:black;
    border-radius: 5px;
    font-weight: bolder;
    height: 35px;
    width: 100px;
    color: white;
    
}
.btn-block:hover {
    background-color: #71d55a;
    color: black;
}


.contact-form {
    text-align: center;
    margin: 35px 0 20px 0 !important;
    color: black;
    font-size: 1rem;
}
.col {
    font-weight: bolder;
    text-align: center;
    color: black;
    text-transform: uppercase;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    background-color:rgb(77, 77, 167);
    padding: 30px;
    color: white;
}

.form-control {
    text-align: center;
    width: 355px;
    height: 35px;
}

    

.form-control:hover{
    background-color: #71d55a; 
}

.form-group {
    font-weight: bolder;
    text-align: center;
    color: black;
    text-transform: uppercase;
}


.formation{
    width: 50%;
    height: 35vw;
    margin: 0% 25%;
    

}

.foto {
    width: 100%;
    height: auto;
    background: url(victor.jpg) center center / cover no-repeat;
}
.foto-reduite {
    height: 4vw;
}


.h1-title {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
}
html {
    font-size: 15px;
    scroll-behavior: smooth;

}

.images-container {
    width: 100%;
    height: 100%;
    

}

.inscribtn{

    position: absolute;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    margin: 10px 35%;
    font-size: 1rem;
    
}
.inscribtn:hover{
    background-color: #71d55a;
    
}
.menu-item {
    font-size: 1.2rem;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.Pinyon{
    font-family: 'Pinyon Script', cursive;
    color: #C89446;
    font-size: 1.2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

.synergy-soft {
    color: white;
    text-align: center;
    /*position: static;*/
    background-color: black;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

.text-area {
    height: 150px;
}

@media screen and (min-width:435px){



.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.menu-item {

    margin: 0 15px;
    font-size: 1.2rem;
    color: inherit;
}



.btn2{
    
    border-radius: 5px;
    background-color: #71d55a;
    color: aliceblue;
    margin: 6px 0px;
    font-size: 0.9rem;
    position: absolute;
    top: 0px;
    right: 10px;
}

.btn2 {
    background-color: #C89446;
}
.synergy-soft{
    position: relative;
}

.css-animation {
    font-size: 1.72rem;
}
.css-animation::before {
    content: 'Synergy Soft';
    position: absolute;
    
    color: #C89446;
    width: 1000px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #C89446;
;
    animation:animate 5s linear infinite;

}
@keyframes animate{

    0%,10%,100%
    {
        width: 0;
    }
    50%,70%,90%
    {
        width: 12%;
    }
}

}

.remonter {
    padding: 10px;
    margin-left: 150px;
    background-color: #C89446;
    
}
.remonter:hover {
    background-color: #71d55a;
}





















